<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 px-0">
      <img
        class="img-fluid h-100 img-main"
        style="width: 100vw; height: 100vh"
        src="\assets\images\image2.png"
        alt="form-image"
      />
    </div>
    <div
      class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 position-relative px-0"
    >
      <div
        class="header sticky-xl-top sticky-lg-top sticky-md-top sticky-sm-top"
      ></div>
      <div class="row justify-content-center mt-5">
        <img
          class="img-fluid w-25 p-1"
          src="\assets\images\image3.png"
          alt="form-logo"
        />
      </div>
      <form class="p-5" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <h3 class="mt-4 fw-bold">Register</h3>
        <div class="row mt-4">
          <div class="col form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="First name"
              id="firstName"
              formControlName="firstname"
            />
            <!-- <span
              *ngIf="
                !signupForm.get('firstname').valid &&
                signupForm.get('firstname').touched
              "
              class="help-block"
              >Please enter a valid first name!</span
            > -->

            <div
              *ngIf="
                signupForm.get('firstname').invalid &&
                signupForm.get('firstname').errors &&
                (signupForm.get('firstname').dirty ||
                  signupForm.get('firstname').touched)
              "
            >
              <small
                class="text-danger"
                *ngIf="signupForm.get('firstname').hasError('required')"
              >
                This field is required.
              </small>
              <small
                class="text-danger"
                *ngIf="signupForm.get('firstname').hasError('pattern')"
              >
                Please don't type numbers in name.
              </small>
              <small
                class="text-danger"
                *ngIf="signupForm.get('firstname').hasError('minlength')"
              >
                The minimum length for this field is
                {{
                  signupForm.get("firstname").errors.minlength.requiredLength
                }}
                characters.
              </small>
              <small
                class="text-danger"
                *ngIf="signupForm.get('firstname').hasError('maxlength')"
              >
                The maximum length for this field is
                {{
                  signupForm.get("firstname").errors.maxlength.requiredLength
                }}
                characters.
              </small>
            </div>
          </div>
          <div class="col form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Last name"
              id="lastName"
              formControlName="lastname"
            />
            <!-- <span
              *ngIf="
                !signupForm.get('lastname').valid &&
                signupForm.get('lastname').touched
              "
              class="help-block"
              >Please enter a valid last name!</span
            > -->
            <div
              *ngIf="
                signupForm.get('lastname').invalid &&
                signupForm.get('lastname').errors &&
                (signupForm.get('lastname').dirty ||
                  signupForm.get('lastname').touched)
              "
            >
              <small
                class="text-danger"
                *ngIf="signupForm.get('lastname').hasError('required')"
              >
                This field is required.
              </small>
              <small
                class="text-danger"
                *ngIf="signupForm.get('lastname').hasError('pattern')"
              >
                Please don't type numbers in name.
              </small>
              <small
                class="text-danger"
                *ngIf="signupForm.get('lastname').hasError('minlength')"
              >
                The minimum length for this field is
                {{ signupForm.get("lastname").errors.minlength.requiredLength }}
                characters.
              </small>
              <small
                class="text-danger"
                *ngIf="signupForm.get('lastname').hasError('maxlength')"
              >
                The maximum length for this field is
                {{ signupForm.get("lastname").errors.maxlength.requiredLength }}
                characters.
              </small>
            </div>
          </div>
        </div>
        <div class="form-group mt-4">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="Email"
            aria-describedby="emailHelp"
            placeholder="Your Email Address"
            formControlName="email"
          />
          <span
            *ngIf="
              !signupForm.get('email').valid && signupForm.get('email').touched
            "
            class="help-block"
            >Please enter a valid email !</span
          >
        </div>
        <div class="form-group mt-4">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="Password"
            placeholder="Your Password"
            formControlName="password"
          />
          <span
            *ngIf="
              !signupForm.get('password').valid &&
              signupForm.get('password').touched
            "
            class="help-block"
            >Please enter a valid password !</span
          >
        </div>
        <div class="form-group mt-4">
          <label for="exampleInputPassword1">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            placeholder="Your Password"
            formControlName="confirmpassword"
          />
          <span
            *ngIf="
              !signupForm.get('confirmpassword').valid &&
              signupForm.get('confirmpassword').touched
            "
            class="help-block"
            >Please enter a valid password !</span
          >
        </div>

        <div class="form-check form-switch mt-4">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexSwitchCheckDefault"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault"
            >I accept the
            <span class="text-primary" style="cursor: pointer"
              >Terms of Service</span
            >
            as well as
            <span class="text-primary" style="cursor: pointer"
              >Privacy Policy</span
            >
          </label>
        </div>

        <button
          type="submit"
          class="btn btn-primary mt-4 mb-4"
          [disabled]="signupForm.invalid"
        >
          Create Account
        </button>
        <div class="col-xs"><hr /></div>
        <div class="nav justify-content-center mt-4 text-secondary">
          Already have an account?
          <span class="fw-bold text-primary" style="cursor: pointer"
            >Login now.</span
          >
        </div>

        <div class="container">
          <div class="row text-center" style="color: gray">
            <div class="col">Help</div>
            <div class="col">Legal</div>
            <div class="col">Privacy</div>
            <div class="col">TOS</div>
          </div>
          <div class="row justify-content-center mb-5" style="color: gray">
            @Cloudklabauter
          </div>
        </div>
      </form>
      <div class="footer position-absolute fixed-bottom"></div>
    </div>
  </div>
</div>
<!-- https://mdbootstrap.com/docs/angular/forms/validation/#docsTabsOverview -->
