<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <img
        class="img-fluid"
        style="width: 100vw; height: 100vh"
        src="\assets\images\image2.png"
        alt="form-image"
      />
    </div>
    <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="header"></div>
      <div class="row justify-content-center mt-5">
        <img
          class="img-fluid"
          src="\assets\images\image3.png"
          alt="form-logo"
        />
      </div>
      <form class="p-5">
        <h3>Register</h3>
        <div class="row">
          <div class="col">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" placeholder="First name" />
          </div>
          <div class="col">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" placeholder="Last name" />
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Your Email Address"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Your Password"
          />
        </div>

        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexSwitchCheckDefault"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault"
            >I accept the <span>Terms of Service</span> as well as
            <span>Privacy Policy</span>
          </label>
        </div>

        <button type="submit" class="btn btn-primary">Create Account</button>
        <div class="col-xs"><hr /></div>
        <div class="row justify-content-center">
          Already have an account? Login now.
        </div>

        <div class="container">
          <div class="row text-center mt-5" style="color: gray">
            <div class="col">Help</div>
            <div class="col">Legal</div>
            <div class="col">Privacy</div>
            <div class="col">TOS</div>
          </div>
          <div class="row justify-content-center mt-0" style="color: gray">
            @Cloudklabauter
          </div>
        </div>
      </form>
      <div class="footer"></div>
    </div>
  </div>
</div>
<!-- color:rgb(21, 115, 192) -->
