.header {
  background-color: black;
  height: 81px;
  width: 100%;
  opacity: 0.15;
}
.footer {
  background-color: black;
  height: 81px;
  width: 100%;
  opacity: 0.15;
}
.container {
  width: 50%;
  margin-top: 350px;
}
